  .eachprod{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 500rem;
    // margin-right: 50rem;
}
.prod{
    margin:5px;
    background-color: #FFF;
	  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
}

  
  .zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
    transition: .4s ease-in;
  }

  .eachbutton{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
  }

  .productInCart{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    max-width: 300rem;
    // margin-right: 50rem;
  }
