.header-color{
    background: rgb(149, 209, 203); 
}
.header-color__title{
    
    color: white;
    text-decoration: none;
    h1{
        margin:0
    }
}
.header-color__content{
    align-items: center;
    display:flex;
    justify-content: space-evenly;
    padding:$m-size

}
.header-color__right{
    max-width: 125rem;
    align-items: center;
    display:flex;
    justify-content: space-evenly;
    flex-direction:row;

}