.header-color{
    background: rgb(40, 77, 73); 
}
.header-color__title{
    
    color: white;
    text-decoration: none;
    h1{
        margin:0
    }
}
.header-color__content{
    align-items: center;
    display:flex;
    justify-content: space-between;
    padding:$s-size

}