.page-header{
    background: rgb(235, 228, 228);
    margin-bottom:$l-size;
    padding: $m-size 0;
}
.page-header__action{
    margin-top:$m-size;
}
.page-header__title{
    font-weight: 400;
    margin:0;
    padding:$s-size;
    span{
        font-weight: 700;
    }
  
}