.quantity-button{
  display:flex;
  flex-direction: row;
  height: 12vh;
  width:  12vw;
}


.remove_button{
  background: rgb(43, 133, 125); 
    border: none;
    color: white;
    display: inline-block;
    line-height: 1;
    padding: 15px 32px;
    font-size: $font-size-large;
    text-decoration: none;
    height: 5vh;
    width:  5vw;
}
.quantity-button__color{
  background: rgb(43, 133, 125);
  height: 4vh;
  width:  4vw;
  border-radius: 50%;
  margin: none;

}
.quantity-input{
  height: 4vh;
  width:  4vw;
  border: none;
  text-align: center;
}

